.header-gradient-text{
    background: -webkit-radial-gradient(#eee, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.background-red-gradient{
    background:radial-gradient(at 5% 5%, rgb(253 161 35) 0%, rgba(123, 207, 106, 0) 75%), radial-gradient(at 95% 5%, rgb(255 27 27) 0%, rgba(174, 193, 84, 0) 75%), radial-gradient(at 95% 95%, rgb(68 34 38) 0%, rgba(104, 169, 187, 0) 75%), radial-gradient(at 5% 95%, #f30000 0%, rgba(95, 194, 138, 0) 75%) !important;
}

.case-study-card{
    height: 480px;
    position: relative;
}


.bg-mobile-development{
    background: url("../../images/assets/android.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 50vh !important;

}

.bg-macos{
    background: url("../../images/assets/xcode-12-large_2x.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 50vh !important;
}

.bg-web-design{
    background: url("../../images/assets/windows.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 50vh !important;
}

.bg-techicons{
    background: url("../../images/assets/macos_apps__dbzjnrpghe4i_large.png");
    background-repeat: no-repeat;
    background-size: contain;
}


.ico-tailwind{
    background: url("../../images/assets/tailwindcss-logotype.c5531139cf347d9ed15413ed15b6dd5c.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position:left;
}

.bg-tailwind{
    background: url("../../images/assets/EGH_CSSUtilityTailwinds.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center;
}

.bg-serverless{ 
    background: url("../../images/assets/drib_00_node-lambda-cloud.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

.bg-hacker{ 
    background: url("../../images/assets/hacker-knight.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}


.header-top-banner{
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover;
}

.bg-bigsur{
    background-image: url("../../images/assets/big_sur__gf375i2898ia_large.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-connection {
    background-image: url("../../images/assets/team-hero-artwork--mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-height:1080px) {
    .header-section{
        padding: 32px;
        min-height: 40vh;
    }
}

@media screen and (min-height:1080px) {
    .header-section{
        min-height: 60vh;
    }
}