@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import url('http://fonts.cdnfonts.com/css/circular-std-book');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Circular Std Book', sans-serif;
    width: 100% !important;
}

@media (min-width: 1280px){
    body {
        width: 88%;
        display: flex;
        justify-items: center;
    }
}
.font-bold {
    font-family: 'Circular Std Bold', sans-serif;
}

.font-medium {
    font-family: 'Circular Std Medium', sans-serif;
}
